:root{
    --offcanvas-width:270px;
    --topNavbarHeight: 56px;
}

.sidebar-nav{
    width: var(--offcanvas-width);
}

@media (min-width: 992px){
    body{
        overflow: auto !important;
    }

    .offcanvas-backdrop{
        display: none !important;
    }
    .sidebar-nav {
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }

    .main-admin{
        margin-top : var(--topNavbarHeight) !important;
        margin-left: var(--offcanvas-width);
    }
}

.custom-box {
    max-width: 25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}